[Desktop Entry]
Type=Application
Name=Brave
Comment=Brave Browser with shared flags from ~/.config/browser/flags.d/
Exec=brave-launcher --class=brave-default --new-window --profile-directory=Default %U
Terminal=false
Categories=Network;WebBrowser;
Keywords=browser;web;internet;www;surf;
StartupNotify=true
StartupWMClass=brave-default
Icon=brave-browser
