[Desktop Entry]
Type=Application
Name=WebApp Google
Comment=Google Workspace (Gmail, Drive, Calendar, etc.)
Exec=brave-launcher --class=brave-google --new-window --profile-directory=Google %U
Terminal=false
Categories=Network;WebBrowser;
Keywords=google;gmail;drive;calendar;docs;sheets;workspace;email;mail;
StartupNotify=true
StartupWMClass=brave-google
Actions=new-window;new-private-window;
Icon=webapp-google

[Desktop Action new-window]
Name=New Window
Exec=brave-launcher --class=brave-google --new-window --profile-directory=Google

[Desktop Action new-private-window]
Name=New Incognito Window
Exec=brave-launcher --class=brave-google --new-window --profile-directory=Google --incognito
